
<form [formGroup]="loginForm" (ngSubmit)="submitForm()" >
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="email"><b>User Name</b></label>
      <input type="text" placeholder="Enter Email" formControlName="username">
      <div *ngIf="loginForm.get('username')?.hasError('required') && isSubmission  ">
          <span>This field is required</span>
          </div>
  
      <label for="psw"><b> User Password</b></label>
      <input type="password" placeholder="Enter Password" formControlName="password" >
      <div *ngIf="loginForm.get('password')?.hasError('required') && isSubmission  ">
        <span>This field is required</span>
        </div>
      <hr>
     
  
      <button type="submit" class="registerbtn">Login</button>
    </div>
    
    <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
  </form>
  